doctype html
html
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
    title Personal Site

    body
      .background
        .image

      main
        .box
          h1 Luis Chapman
          
          h4 Email: 
            a(href="mailto:luis@thechapman.site") Luis@TheChapman.site
            
          h4 Github: 
            a(href="https://github.com/lschpmn") https://github.com/lschpmn
            
          p(style="padding-top: 20px") Or contact me:
          
          form.search(id="email" @submit="sendEmail" @submit.prevent)
            .error {{error}}
              
            input(type="text" v-model="emailText")
            
            button(type="button" @click="sendEmail") {{submitText}}
            
        .spacer
      script(src='dep.js')